header{
	position:absolute;
	z-index:2;
	width:100%;
	height:20%;
	left:0;
	top:0;
	border-bottom: solid black;
	background-color:#865330;
}


header h1{
	margin:0;
	padding:0;
	margin-top:1.8%;
	position:relative;
	text-align:center;
	font-size:80px;
	/*font-size:5rem;
	font-size:500%;*/
	color:white;
}

header a{
	text-decoration:none;
}

header img{
	position:absolute;
	top:15%;
	left:2%;
	width:8%;
}

header #pseudo_head{
	color:#D3D4D4;
	font-size:25px;
	font-weight:bold;
	text-decoration:underline;
	position:absolute;
	right:2%;
	top:42%;
	
}

header #pseudo_head:hover{
		font-size:26px;
}

header #pseudo_head a{
	color:#D3D4D4;
}

nav{
	z-index:1;
	position:fixed;
	top: -20px;
	left: -10px;
	height:100%;
	border-right: solid black;
	margin:0;
	padding:0;
	padding-top:10%;
	width:21%;
	background-color:#E7814E;
}

nav ul{
	padding-left:6%;
	padding-right:6%;
	text-align:center;
}

nav li{
	margin-top:50px;
	list-style-type:none;
	margin-left:0;
	font-size:23px;
	font-weight:bold;
}	

nav li:hover{
	font-size:24px;
}

nav a{
	text-decoration:none;
	/*color:#6A0090;*/
	color:#562300;
}


section[id=contenu]{
	position:absolute;
	top:25%;
	left:21%;
	width: 78%;
	padding-left:1%;
}

section[id=contenu] h2{
	font-size:40px;
}


.caracteristique
{
	position: absolute;
	left: -500px;
	top: -500px;
	border: 3px black solid;
	background-color: beige;
}
